@font-face {
  font-family: 'tinder';
  src:  url('fonts/tinder.eot?yhdn1u');
  src:  url('fonts/tinder.eot?yhdn1u#iefix') format('embedded-opentype'),
    url('fonts/tinder.ttf?yhdn1u') format('truetype'),
    url('fonts/tinder.woff?yhdn1u') format('woff'),
    url('fonts/tinder.svg?yhdn1u#tinder') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tinder' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bin:before {
  content: "\e905";
}
.icon-lock:before {
  content: "\e904";
}
.icon-phone:before {
  content: "\e900";
}
.icon-map:before {
  content: "\e901";
}
.icon-list:before {
  content: "\e902";
}
.icon-user:before {
  content: "\e903";
}
