@-webkit-keyframes MoveDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes MoveDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes RotateMenu {
  0% {
    transform: rotateX(-90deg);
    opacity: 0;
  }
  70% {
    transform: rotateX(20deg);
    opacity: 0.7;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}
