@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(./fonts/Roboto-Regular.ttf) format("ttf");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 3rem;
}

:root {
  --color-white: #fff;
  --color-red: #9c3121;
  --color-red-2: #ec0000;
}

html {
  font-size: 50%; // smallest devide
  @media only screen and (min-width: $sm) {
    font-size: 50%;
  }
  @media only screen and (min-width: $md) {
    font-size: 56.25%;
  }
  @media only screen and (min-width: $lg) {
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  }
}

body {
  box-sizing: border-box;
  // padding: 3rem;
  font-weight: 400;
  /*font-size: 16px;*/
  font-size: 1.6rem;
  background-color: #f7f7f7;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  @media only screen and (max-width: $md) {
    padding: 0;
  }
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

i,
img {
  cursor: pointer;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

input:focus {
  outline: none;
}

.table-li {
  display: none;
}
